doctype html
head
    title Login
    link(rel='stylesheet' href='/stylesheet')
body
    include header
    #authenBackground
        br
        span
            h1#authenWelcome Welcome!
        #headImage
            img(src='/loginImg')
            span Photo by 
                a(href='https://unsplash.com/@dmjdenise?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText') Denise Jans 
                | on 
                a(href='https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText') Unsplash
        #welcome
            p Please enter your username and password below to sign in.
            a(href='/user/create_account') Or click here to sign up!
        #user_pass
            input#username(placeholder='Username: ')
        #user_pass
            input#password(type='password' placeholder='Password: ')
        #loginSubmit
            input(type='submit' onclick='login()')